{{ define "main" }} {{ if .IsTranslated }}
<nav class="post-lang-switch">
  {{ range .Translations }}
  <a href="{{ .RelPermalink }}"> {{ .Language.LanguageName }} </a>
  {{ end }}
</nav>
{{ end }}

<article class="blog-single">
  <header class="blog-single-header">
    <h1 class="blog-single-title">{{ .Title }}</h1>
    <time class="blog-single-date">{{ .Date.Format "2006-01-02" }}</time>
  </header>

  {{ with .Params.cover }}
  <div class="blog-single-cover">
    <img src="{{ . | relURL }}" alt="{{ $.Title }}" />
  </div>
  {{ end }}

  <div class="blog-single-content">{{ .Content }}</div>
</article>

{{ end }}
