/* @tailwind base; */
/* postcss */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import custom.css */
@import "custom.css";

/* Tailwind layer, ē-tàng khē ē-kha */
/* Example:
@layer base {
  h1 { @apply text-red-500; }
}
*/
