
<title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

{{ with .Description }}
<meta name="description" content="{{ . }}">
{{ end }}

{{/* --- Tailwind CSS --- */}}
{{/* $styles := resources.Get "css/tailwind.css" | postCSS | fingerprint }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" /> */}}


{{/* --- Main CSS (site overrides) --- */}}
<link rel="stylesheet" href="/css/gemini.css">

<!-- Favicon (Liû-lám-khì ia̍h-chhiam ê icon) -->
<link rel="icon" type="image/png" href="/img/favicon.png" />

{{/* --- Canonical URL --- */}}
<link rel="canonical" href="{{ .Permalink | absURL }}" />

{{/* --- Basic OpenGraph SEO --- */}}
<meta property="og:title" content="{{ .Title }}">
{{ with .Description }}
<meta property="og:description" content="{{ . }}">
{{ end }}
<meta property="og:url" content="{{ .Permalink | absURL }}">
<meta property="og:type" content="website">
